<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retrieve Wikidata</title>
</head>
<body>
    <!-- Informations sur la requête -->
    <h1>Résultat de l'API Wikidata pour {{ wikidata_id }}</h1>
    <h2>Informations sur la requête</h2>
        <p><strong>Code HTTP :</strong> {{ status_code }}</p>
        <p><strong>Type de contenu :</strong> {{ content_type }}</p>

    <!-- Message d'erreur s'il y a un problème -->
    {% if error_message %}
        <h2 style="color: red;">Aucune donnée valide n'a été retournée pour l'ID "{{ wikidata_id }}".</h2>
    
    <!-- Renvoi du JSON -->
    {% else %}
        <h2>Données de l'entité</h2>
        <pre>{{ wikidata_json | tojson(indent=2)}}</pre>
    {% endif %}

</body>
</html>